/**************DIRECTORY AND BIO PAGES****************/

#fields_search {
  fieldset {
    background: #CCC;
    background: rgba(0, 0, 0, 0.15);
    padding-bottom: 5px;
    border: none;
  }
  h5 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  input {
    &[type="text"] {
      height: 40px;
      margin-bottom: 10px;
      -webkit-border-top-right-radius: 7px;
      -webkit-border-bottom-right-radius: 7px;
      -moz-border-radius-topright: 7px;
      -moz-border-radius-bottomright: 7px;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      display: inline;
      float: left;
      width: 80%;
      background: #666;
      color: #ccc;
      font-family: "Myriad W01 It";
      font-size: 16px;
      border: none;
    }
    &[type="submit"] {
      background: #2c2c33;
      height: 40px;
      width: 45px;
      font-family: 'flagship-icon';
      -webkit-border-top-left-radius: 7px;
      -webkit-border-bottom-left-radius: 7px;
      -moz-border-radius-topleft: 7px;
      -moz-border-radius-bottomleft: 7px;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      font-size: 26px;
      border: none;
      float: left;
      padding: 0;
      color: #ccc;
    }
  }
}

.single-people {
  p {
    line-height: 2em;
  }
  .tabs {
    dd a, li a {
      padding: 0 15px;
      outline: none;
    display: block;
    background-color: #efefef;
    color: #222222;
    padding: 0.88889rem 1.65rem;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-size: 0.88889rem;
    }
  }
}

#bioTab h6 {
  margin-bottom: 20px;
}

.single-people .tabs {
  margin-top: 40px;
}

#directory {
  list-style: none;
  li:nth-child(odd) {
    background: #f7f7f7;
    background: rgba(0, 0, 0, 0.05);
  }
  p {
    margin-top: 20px;
  }
  img {
    border-width: 3px;
  }
}

li.person {
  margin-bottom: 15px;
  width: 90%;
  min-height: 95px;
  padding-left: 20px;
  padding-top: 3px;
  list-style: none;
}

#directory li {
  &.person.sub-head {
    min-height: 1px;
    margin-bottom: 0;
    background: none;
    padding: 0;
  }
  &.job-market-candidate {
    p {
      margin-top: 0px;
      margin-left: 105px;
      &.contact {
        margin-bottom: 17px;
        line-height: 2em;
      }
    }
    img {
      margin-bottom: inherit;
    }
  }
}

li.person {
  &.sub-head h2 {
    text-decoration: underline;
    font-size: 28px;
    margin: 0;
  }
  img {
    max-width: 90px;
    clear: left;
    float: left;
    margin-bottom: 5px;
  }
  h4 {
    color: #00337f;
  }
}

#LibraInsideDiv {
  .statistic, .author, .title h1 {
    display: none;
  }
}

.libra {
  .list-paper a {
    font-size: 14px;
    color: #000;
    font-family: "Myriad W01 SmBd",Arial,sans-serif;
    &:link {
      font-size: 14px;
      color: #000;
      font-family: "Myriad W01 SmBd",Arial,sans-serif;
    }
  }
  .conference {
    font-size: 12px;
    font-family: "Myriad W01 Regular",Arial,sans-serif;
  }
  .list-conference a {
    &:link, &:visited {
      color: #00337f;
    }
  }
  .logo {
    position: absolute;
    bottom: -40px;
    right: 0;
  }
}

p.pub {
  margin-bottom: 3px;
  line-height: 1.6em;
}

h6.pub {
  margin-top: 0;
  margin-bottom: 25px;
}

/*Fix float issue*/

.faculty {
  padding-left: 230px;
}


dd.active {
  border-top: 3px solid #3478b6;
  margin-top: -3px;
}
