/******* Footer ************/
footer {
	background:#000;
	padding-top:25px;
}

footer a,.inline-list li a {
	color:#CCC;
}

#social-media {
	margin-top:9px;
}

#social-media a {
	content:none;
	color:#2c2c33;
	background:#555;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	padding:10px;
	margin-right:10px;
	font-size:18px;
}

#social-media a:hover {
	color:#2c2c33;
	background:#CCC;
}
#menu-footer-links {
	margin-top:15px;
}

#menu-footer-links a {
	font-size:12px;
}

#copyright {
	clear:left;
}

#copyright p {
	text-align:center;
	font-size:12px;
	color:#CCC;
	margin:20px 0 0;
}

/********Quicklinks***********/
#quicklinks {
	padding: 0;
	background: none;
}

#quicklinks .nav-bar {
	margin-top:0;
	background: none;
}

#quicklinks li.has-flyout {
	background: #d07b00;
	font-family:"Myriad W01 Bd";
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	width:100%;
	text-align: center;
}

#quicklinks .flyout {
	background: #f2f2f2;
	padding: 0;
	margin: 0;
	border: 1px solid #d9d9d9;
	position: absolute;
	left: 0px;
	width: 100%;
	z-index: 40;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	bottom: 38px;

}

#quicklinks ul.flyout li {
	border-left: none;
	text-align: left;
}

#quicklinks ul.flyout li a {
	background: #f2f2f2;
	border-bottom: 1px solid #e6e6e6;
	font-family: "Myriad W01 Regular", Arial, sans-serif;
	color: #555;
	display: block;
	font-size: 12px;
	text-transform: none;
	height: auto;
	line-height: 1;
	padding: 15px 0 15px 10px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

#quicklinks ul.flyout li a:hover {
	background: #ffcc99;
	color: #2c2c33;
}

#quicklinks .nav-bar > li.has-flyout > a:first-child::after {
	content: none;
}

#quicklinks li.has-flyout {
	line-height: 38px;
}

#quicklinks ul.flyout li a, #quicklinks .nav-bar li ul li a {
	border: 1px solid #CCC;
}
