/******* Footer ************/
footer {
  background: #000;
  padding-top: 25px;
  a {
    color: #CCC;
    border-bottom: .125em solid;
    border-bottom-color: rgba(0,0,0,.1);
    &:hover {
      color: #fff;
      border-bottom: none;
    }
  }
}

.inline-list li a {
	color:#CCC;
}

#social-media {
  margin-top: 9px;
  a {
    content: none;
    color: $black;
    background: #555;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
    font-size: 18px;
    &:hover {
      color: $black;
      background: #CCC;
    }
  }
}
#menu-footer-links {
  margin-top: 15px;
  a {
    font-size: 12px;
  }
}

#copyright {
  clear: left;
  p {
    text-align: center;
    font-size: 12px;
    color: #CCC;
    margin: 20px 0 0;
  }
}

#quicklinks {
  padding: 0;
  background: none;
  .nav-bar {
    margin-top: 0;
    background: none;
  }
  li.has-flyout {
    background: #d07b00;
    font-family: $font-subhead;
    font-weight: 400;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
  }
  .flyout {
    background: #f2f2f2;
    padding: 0;
    margin: 0;
    border: 1px solid #d9d9d9;
    position: absolute;
    left: 0px;
    width: 100%;
    z-index: 40;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    bottom: 38px;
  }
  ul.flyout li {
    border-left: none;
    text-align: left;
    a {
      background: #f2f2f2;
      border-bottom: 1px solid #e6e6e6;
      font-family: $font-stack;
      font-weight: 300;
      color: #555;
      display: block;
      font-size: 12px;
      text-transform: none;
      height: auto;
      line-height: 1;
      padding: 15px 0 15px 10px;
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
      -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
      &:hover {
        background: #ffcc99;
        color: #333;
      }
    }
  }
  .nav-bar > li.has-flyout > a:first-child::after {
    content: none;
  }
  li.has-flyout {
    line-height: 38px;
  }
  ul.flyout li a, .nav-bar li ul li a {
    border: 1px solid #CCC;
  }
}