#logo_nav li.logo{
  width: 222px;
  height: 162px;
  padding: 0;
  position: absolute;
  margin-top: -61px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#logo_nav li.logo a {
  background: url(../images/logo.png) no-repeat top;
  width: 182px;
  height: 142px;
  text-indent: -9999px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.mobile-logo {
  position: relative;
  margin: 0 auto;
  img {
   display: block;
    margin-left: auto;
    margin-right: auto 
  }
   a {
    margin-top: 0;
  }
}

#logo_nav li.logo {
  background: #242424;
  background: rgba(0, 0, 0, 0.25);
}

#logo_nav {
  width: 100%;
  max-width: 1000px;
  margin: 0;
  padding-bottom: 20px;
  h1 {
    margin-top:30px;
    line-height: 1.1em;
    padding-right: 3px;
    span.small {
      display: block;
      line-height: 1em;
    }
  }
}

.search-bar, #search-bar {
  background: #333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #ccc;
  text-transform: uppercase;
  font-family: $font-subhead;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  margin-bottom: 10px;
  .columns {
    padding: 0;
  }
  a {
    color: #FFF;
    font-size: 9px;
    letter-spacing: 1px;
  }
  .links {
    margin-top: 0px;
  }
}

.links li {
  list-style: none;
  display: inline;
  &:after {
    content: " | ";
  }
  &:last-child:after {
    content: "";
  }
}

.search-bar input, #search-bar input {
  &[type="text"] {
    height: 31px;
    margin-bottom: 0px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.75);
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    display: inline;
    float: left;
    width: 75%;
    border: none;
  }
  &[type="submit"] {
    background: #666;
    height: 31px;
    width: 30px;
    font-family: 'flagship-icon';
    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    font-size: 16px;
    border: none;
    float: left;
    padding: 0;
    color: #ccc;
  }
}

.search-bar {
  button {
    background: #666;
    height: 31px;
    width: 30px;
    border-radius: inherit;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none;
    float: left;
    padding: 0;
    color: #e2e1df;
    margin-right: inherit;
    margin-bottom: inherit;
  }
}

#mobile-nav {
  padding-top: 4%;
}

#nav-break {
  background: $black;
  background: -webkit-linear-gradient(top, rgba(102, 102, 102, 0.91) 0%, rgba(50, 50, 50, 0.91) 31%, rgba(47, 47, 47, 0.82) 47%, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.29) 95%, rgba(0, 0, 0, 0.29) 100%);
  background: -o-linear-gradient(top, rgba(102, 102, 102, 0.91) 0%, rgba(50, 50, 50, 0.91) 31%, rgba(47, 47, 47, 0.82) 47%, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.29) 95%, rgba(0, 0, 0, 0.29) 100%);
  background: -ms-linear-gradient(top, rgba(102, 102, 102, 0.91) 0%, rgba(50, 50, 50, 0.91) 31%, rgba(47, 47, 47, 0.82) 47%, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.29) 95%, rgba(0, 0, 0, 0.29) 100%);
  background: -moz-linear-gradient(top, rgba(102, 102, 102, 0.91) 0%, rgba(50, 50, 50, 0.91) 31%, rgba(47, 47, 47, 0.82) 47%, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.29) 95%, rgba(0, 0, 0, 0.29) 100%);
  background: linear-gradient(to bottom, rgba(102, 102, 102, 0.91) 0%, rgba(50, 50, 50, 0.91) 31%, rgba(47, 47, 47, 0.82) 47%, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.29) 95%, rgba(0, 0, 0, 0.29) 100%);
  height: 27px;
  position: relative;
  z-index: 2;
}
