@media print {
  dl.accordion .content {
    display: block !important;
  }
  .hide-for-print {
    display: none !important;
  }
}

@media only screen and (max-width: 320px) {
  .mobile-logo {
    img {
      width: 90%;
    }
  }
}

@media only screen and (max-width: 480px) {
  button {
    font-size: 14px;
  }
  .hide-for-mobile {
    display: none !important;
  }
  #quicklinks li.has-flyout {
    width: 100%;
  }
  .mean-container .mean-bar {
    background: #000;
    position: relative;
  }
  #logo_nav {
    margin-top: 0;
  }
}


@media only screen and (min-width: 481px) and (max-width:640px) {
    .mobile-logo {
    margin-top: 2em;
    img {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 540px) {
  #main_nav ul li {
    padding: 0 5px;
    width: auto;
  }
  .mobile-field {
    clear: left;
  }
  body.fields .row .mobile-two {
    width: 100% !important;
  }
  #mobile-nav {
    h1 {
      font-size: 1.6875rem;
      text-align: center;
    }
  }
  .mobile-logo {
    img {
        margin-top:1em;
        width: 55%;
    }
  }
}

@media only screen and (min-width: 40em) {
p, ul, ol, dl {
  font-size: 1.05rem;
}
}

@media only screen and (max-width: 767px) {
  #logo_nav {
    margin-top: 50px;
  }
  #main_nav ul {
    li {
      &:nth-child(5) {
        clear: left;
      }
      width: 33%;
      ul {
        display: none;
      }
    }
    height: 144px;
  }
  li.logo {
    display: none;
  }
  .offset-top {
    margin-top: 0 !important;
  }
  .content {
  padding-right: 0em;
  }
  #mobile-nav {
    h1 {
      font-size: 1.84375rem;
      text-align: center;
    }
  }
   #caption {
    &.vertical {
      display: none;
    }
  }
  .blueslide {
    background: inherit !important;
  }
  #fields_search input[type="submit"] {
    width: 35px;
  }
   ul.breadcrumbs {
    li {
      margin-left: 0px;
    }
   }
   p.contact {
    span {
      margin-right: 2px;
    }
   }
   .wrapper li {
      margin-left: 5px;
  }
  .faculty {
    padding-right: 10px;
  }
  .headshot {
    height: auto;
    width: 75%;
  }
  .single-people .tabs dd a {
    width: 200px;
  }
  .book-entry {
    height: 100%;
    img {
      height: auto;
      width: 84%;
    }
  }
  .tabs-content.faculty {
    width: 110%;
  }
  .single-people .tabs {
    dd a, li a {
      background-color: #fff;
    }
  }
}

@media only screen and (max-width: 975px) {
  #main_nav ul li {
    padding: 0 7px;
  }
}

@media only screen and (max-width: 40em) {
  .faculty {
    padding-left: 1em;
  }
  .single-people .tabs dd a {
    padding: .88889rem .7rem !important;
  }
}

@media only screen and (min-width: 40.0625em) {
h1 {
    font-size: 2.125rem;
}
}


@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .faculty {
    padding-left: 1em;
  }
  #logo_nav h1 {
    margin-left: 1rem;
  }
  .mobile-logo {
    margin-top: 2em;
    img {
        width: 35%;
    }
  }
  .orbit-container .orbit-slides-container {
    height: 350px !important;  
    img {
      min-width: 100%;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #caption.vertical {
      top: 0;
      min-height: 400px;
      z-index: 2;
      margin-left: 4px;
      margin-bottom: 10px;
  }
  .blueslide {
    background: rgba($sky, .9);
  }
}

@media only screen and (max-width: 1023px) {
    #desktop-nav {
    display: none;
  }
}

@media only screen and (min-width: 1023px) {
    #mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 64em) {
  #caption {
  &.vertical 
      h3 {
        font-size: 1.375em;
      }
      h5 {
        font-size: 1em; 
      }
    }
  #search-bar input[type="submit"], #field_search input[type="submit"] {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
  .sidebar_bg, .homepage_bg {
    background: #ededed !important;
  }

  #sidebar {
    background: #cecece;
  }

  #mobile-nav {
    h1 {
      font-size: 2rem;
      text-align: center;
    }
  }
  
  .slideshow-wrapper {
    padding-bottom: 2em;
  }
  
  #social-media {
    margin-top: 9px;
  }
}

@media only screen and (min-width: 64.063em){
  p, ul, ol, dl {
    font-size: 1.1rem;
  }
}


@media only screen and (min-width: 86em) {
  p, ul, ol, dl {
    font-size: 1.15rem;
  }
 h1, h2, h3, h4, h5, h6 {
    line-height: 1.4; }

  h1 {
    font-size: 2.5rem; }

  h2 {
    font-size: 2.225rem; }

  h3 {
    font-size: 1.6875rem; }

  h4 {
    font-size: 1.4375rem; }

  h5 {
    font-size: 1.125rem; }

  h6 {
    font-size: 1rem; } 
}


@media only screen and (min-width: 108em) {
  p, ul, ol, dl {
    font-size: 1.2rem;
  } 
} 