$blue: #005eb8;       //blue
$aqua: #00ab8e;       //aqua
$green: #007a53;      //green
$purple: #24135f;     //purple
$red: #8a2a2b;        //red
$yellow: #cba052;     //yellow
$rust: #6f2c3f;		    //rust
$sky: #68ace5;       //sky
$black: #2c2c33;     //black
$grey: #B4B2AD;      //grey
$fa-font-path: "../fonts";

$font-stack: 'gentona-light', Arial, sans-serif;
$font-header: 'quadon', Arial, sans-serif;
$font-semibold: 'gentona-book', Arial, sans-serif;
$font-subhead: 'gentona-book', Arial, sans-serif;