$blue: #005eb8;       //blue
$aqua: #00ab8e;       //aqua
$green: #007a53;      //green
$purple: #333366;     //purple
$red: #6a2011;        //red
$yellow: #ba920a;     //yellow
$rust: #663333;		     //rust
$sky: #68ace5;       //sky

$font-stack: 'gentona', Arial, sans-serif;
$font-header: 'quadon', Arial, sans-serif;
