@font-face {
	font-family: 'flagship-icon';
	src:url('../fonts/flagship-icon.eot');
}
@font-face {
	font-family: 'flagship-icon';
	src:url('../fonts/flagship-icon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/flagship-icon.svg#flagship-icon') format('svg'),
		url('../fonts/flagship-icon.woff') format('woff'),
		url('../fonts/flagship-icon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

#search-bar .columns {
padding: 0;
}

#search-bar .links {
	margin-top:inherit;
	}


/*Fix float issue*/
.faculty {
padding-left: 230px;
}

@media only screen and (max-width: 40em) {
	.faculty {
padding-left: 1em;
} }

@media only screen and (min-width: 40.063em) and (max-width: 64em) { .faculty {
padding-left: 1em;
} }

/*Foundation Tab Titles*/
.single-people .tabs dd a, .single-people .tabs li a {
outline: none;
display: block;
background-color: #efefef;
color: #222222;
padding: 0.88889rem 1.65rem;
font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
font-size: 0.88889rem;
}

dd.active {
border-top: 3px solid #3478b6;
margin-top: -3px;
}


/*Accordion Icons*/
.accordion .fa-caret-down{
  display:inline;
  float: right;
}
.accordion .fa-caret-up{
  display:none;
  float: right;
}
.accordion .active .fa-caret-down{
  display:none;
  float: right;
}
.accordion .active .fa-caret-up{
  display:inline;
  float: right;
}

.slide {
	position: relative;
}

.orbit-container .orbit-slides-container>* .orbit-caption {
background-color: transparent;
}